div.adj-tooltip {
  transition: all 0.15s;
  position: absolute;
  display: flex;
  width: fit-content;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius : 5px;
  padding: 2px 5px;
  background-color: var(--dark0, rgb(35, 40, 41));
  opacity: 0;
}

div.adj-tooltip.show {
  opacity: 1;
}

/* div.adj-tooltip-text {
  
} */

div.matrixModalButtons {
  padding-bottom: 5px;
}