div.adj-tooltip {
  position: absolute;
  display: flex;
  width: fit-content;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius : 5px;
  padding: 5px;
  background-color: rgb(20, 91, 109);
  opacity: 0;
}

div.adj-tooltip.show {
  opacity: 1;
}

div.adj-tooltip-text {
  opacity: 1;
}

div.matrixModalButtons {
  /* margin: 10px; */
}